// Navigation Styles here

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0;
}

.navigation{
    justify-content: space-around;
}

a {
    text-decoration: none;
}
